@charset "UTF-8";
/* CSS Document */

*{
	box-sizing: border-box;
}

body {
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;	
	font-size: 16px;
	color: #a3a3a3;
}

a {
	text-decoration: none;
}

/*header*/

#logo {
	width: 70px;
	height: 70px;
	float: left;
}
.navigation{
	height: 70px;
	padding: 0 19.5% 0 19.5%;
}

.navigation ul {
	float: right;
}

.navigation li  {
	display: inline-block;
	margin-left: 20px;
	margin-top: 28px;
}

.navigation li a:hover {
	color: #f63c3c;
	border-bottom:3px solid #f63c3c; 
}

nav ul a:link {
	color: #a3a3a3;
}

nav ul a:visited {
	color: #a3a3a3;
}
/*main*/

.background {
	background: url(../img/background_hero.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 0 19.5% 0 19.5%;
}

.slide {
	padding-top: 230px;
	padding-bottom: 230px;
	text-align: center;
}

.slide h1 {
	font-family: 'Teko-Light', Arial, Helvetica, sans-serif;
	font-size: 120px;
	color: white;
	text-transform: uppercase;
}

.slide p {
	font-family: 'TitilliumWeb-Light', Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: white;
	padding-top: 60px;
	padding-bottom: 50px;
}

.button {
	display: inline-block;
	color: black;
	background-color: white;
	font-family: 'Teko-Regular';
	font-size: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding: 20px 55px 20px 55px;

}

.hide {
	visibility: hidden;
	display: none;
}

.carousel-indicators li {
	display: inline-block;
	width: 40px;
	height: 5px;
	background-color: white;
	margin: 0px 5px 40px 5px;
}

.carousel-indicators li a:hover {
	display: inline-block;
	border-bottom: 4px solid black;
	width: 40px;
	margin: 40px 5px 40px 5px;
}

/*projects*/
.projects h2 {
	font-family: 'Teko-Regular';
	font-size: 40px;	
	text-align: center;
	color: black;
	margin-top: 50px;
	margin-bottom: 35px;
}

h3 {
	font-family: 'Teko-Regular'
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: black;
	margin: 10px;
}

article p {
	font-size: 14px;
	text-align: center;
	color: #555555;
	margin: 10px;
}

article {
	float: left;
/*	display: inline-block;*/
	margin: 4px;
	width: 48.43%;
}

article img {
	width: 100%;
}

figcaption {
	visibility: hidden;
	display: none;
}

.projects {
	text-align: center;
	clear: both;
	overflow: hidden;
}

.projects p a{
	display: inline-block;
	font-family: 'Teko-Regular';
	font-size: 20px;
	margin-bottom: 70px;
	margin-top: 60px;
	border-bottom:3px solid #f63c3c;
}

.projects p a:visited {
	color: #f63c3c;
}

/*siding 1*/
.show {
	display: block;
	text-align: center;
	background-color: #f63c3c;
	color: white;
	padding: 55px 19.5% 55px 19.5%;
}

.show h2{
	font-family: 'Teko-Light';
	font-size: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.show p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.show a{
	margin-top: 10px;
}

.social {
	padding: 0 19.5% 0 19.5%;
	background-color: #fafafa;
}

.social h2 {
	font-family: 'Teko-Regular';
	font-size: 40px;
	padding-top: 65px;
	padding-bottom: 25px;
	color: black;
}

.social p{
	font-size: 16px;
	font-family: 'Titillium Web';
	padding-bottom: 60px;
}

.social div{
	text-align: center;
	font-family: 'Teko-Light';
	font-size: 30px;
	overflow: hidden;
	padding-bottom: 60px;
}

.social ul li{
	float: left;
	width: 200px;
	height: 195px;
	margin-right: 1.56%;
	background-color: #30282a;
	padding: 60px 0 60px 0;
}

.social a:visited {
	color: white;
}

footer {
	padding: 20px 19.5% 40px 19.5%;

}

/*when_screen*/

@media screen and (max-width: 800px) {
	
article{
width:50%;
padding: 0.0.5%;
}

.desktop {
	display: none;
}

.mobile-only {
	display: block;
}

.slide h1 {
	font-size: 70px;
}

.slide p{
	font-size: 15px;
}

.button {
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 10px 27px 10px 27px;
}
